body {
    background-color: #fff2f2;
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
    width: 100%;
}

.header {
    background-color: #fff2f2;
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
}

.col h5 {
    color: gray;
    font-size: 15px;
    padding: 0 0 15px 35px;
}

.search-bar {
    border: 1px solid;
    border-radius: 50px;
    width: auto;
}

.table {
    border-collapse: separate;
    border-spacing: 0 3px;
    border: none;
    overflow: hidden;
    width: 100%;
    background-color:#f4e3e3;
    padding: 10px;
    border-radius: 10px;
}

.table th {
    background-color:#fff2f2;
    color: black;
    font-weight: normal;
    border: none;
}

.table tbody tr {
    border-radius: 15px;
}

.table td, .table th {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border: none;
}

.table tbody tr:hover {
    background-color:#fff2f2;
    cursor: pointer;
}

.table tbody tr:first-child td:first-child {
    border-top-left-radius: 10px; /* Top-left corner */
}

.table tbody tr:first-child td:last-child {
    border-top-right-radius: 10px; /* Top-right corner */
}

.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px; /* Bottom-left corner */
}

.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px; /* Bottom-right corner */
}

.table thead tr:first-child th:first-child {
    border-top-left-radius: 10px; /* Top-left corner */
}

.table thead tr:first-child th:last-child {
    border-top-right-radius: 10px; /* Top-right corner */
}

.table thead tr:last-child th:first-child {
    border-bottom-left-radius: 10px; /* Bottom-left corner */
}

.table thead tr:last-child th:last-child {
    border-bottom-right-radius: 10px; /* Bottom-right corner */
}

.btn-lihat {
    background-color: #6299ed;
    color: white;
    border-radius: 10px;
    padding: 5px 15px;
    font-size: 14px;
    text-decoration: none;
}

.btn-lihat:hover {
    background-color: #6299ed;
    color: white;
}

.search-bar {
    margin-bottom: 20px;
    width: 100%;
}

#kasbonModal .modal-content {
    border-radius: 20px;
    border: 1px solid;
}

#kasbonModal .modal-title {
    text-align: center;
    font-size: medium;
    background-color: black;
    color: white;
    padding: 3px;
}

#kasbonModal .modal-body {
    margin: 0 30px 0 30px;
}

#kasbonModal .modal-body p {
    margin: 1px;
}