/* Bulan dropdown copas cabang dari dasboard*/
/* Cabang Container */
.cabang {
    display: flex;
    flex-direction: column;
  }
  
  /* Dropdown Styling */
  .selected-menu {
    width: 180px;
  }
  
  .selected-menu .selected-btn {
    display: flex;
    height: 40px;
    background-color: white;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  
  /* Dropdown Overlay */
  .dropdown-overlay {
    display: none;
    position: relative;
    margin-top: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
    
  
  /* Select Menu */
  .dropdown select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  }

  .selected-menu {
    width: 100%;
    margin-top: 10px;
}

.selected-menu select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

/* pagination */
.pagination {
    margin-top: 20px;
  }

.success {
    background-color: #3ae172;
    color: black;
}

.edit {
    background-color: #ffa844;
    color: black;
}

.table {
    border-collapse: separate;
    border-spacing: 0 3px;
    border: none;
    overflow: hidden;
    width: 100%;
}

.table th {
    background-color:#500606;
    color: white;
    font-weight: normal;
}

.table tbody tr {
    background-color: #d3d3d3;
}

.table td, .table th {
    padding: 10px;
    text-align: center;
}

.table tbody tr:first-child td:first-child {
    border-top-left-radius: 50px;
}

.table tbody tr:first-child td:last-child {
    border-top-right-radius: 50px; 
}

.table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 50px; 
}

.table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 50px;
}

.table thead tr:first-child th:first-child {
    border-top-left-radius: 50px; 
}

.table thead tr:first-child th:last-child {
    border-top-right-radius: 50px; 
}

.table thead tr:last-child th:first-child {
    border-bottom-left-radius: 50px; 
}

.table thead tr:last-child th:last-child {
    border-bottom-right-radius: 50px; 
}

.table tbody tr:hover {
    background-color:#5bdaf2;
    cursor: pointer;
}

.btn-bonus {
    background-color: #e1e92b;
    border: 1px solid;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}
  
/* Search bar */
.search-bar {
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.search-bar input {
    border: none;
    outline: none;
    box-shadow: none;
}
  
.search-bar .input-group-text {
    background-color: #f8f9fa;
    border: none;
}

.search-bar .input-group-text i {
    color: #6c757d;
    font-size: 1rem;
}

.search-bar input::placeholder {
    color: #adb5bd;
    font-style: italic;
}

#bonusModal .modal-title {
    font-weight: bold;
}

#bonusModal .modal-body {
    padding: 30px 50px 0 50px;
}

#bonusModal .modal-footer{
    padding: 0 0 30px 0;
}

#branchSelect {
    padding: 5px;
}

#bonusModal .btn-atur {
    background-color: #500606;
    color: white;
    font-weight: bold;
    border-radius: 15px;
}

#gajiModal .modal-content {
    border-radius: 20px;
    border: 1px solid;
}

#gajiModal .modal-title {
    text-align: center;
    font-size: medium;
    background-color: black;
    color: white;
    padding: 3px;
}

#gajiModal .modal-body {
    margin: 0 30px 0 30px;
}

#gajiModal .modal-body p {
    margin: 1px;
}

#gajiModal .modal-footer .btn {
    border-radius: 50px;
    border: 1px solid;
}

#gajiModal .tanggal {
    font-size: smaller;
    align-items: center;
    color: black;
}

#confirmModal .modal-content {
    border-radius: 20px;
    border: 1px solid #500606;
}

#confirmModal .modal-body {
    font-weight: 900;
    text-align: center;
    margin: 0 30px 0 30px;
}

#confirmModal .modal-body .btn {
    color: black;
    margin: 25px 10px 0 10px;
    border-radius: 15px;
}
